<div class="back">
        
    <div class="hometext my-animate-zoom" style="font-size:10px"><span class="heading">Because Ideas Matters!</span><br><span class="heading2">Online Question Answer Portal Where You Can Share Your Ideas And Thoughts.</span><br><br><a href=" " class="tbutton my-text-black my-button">Explore Now</a><br><br><br></div>
</div>
<div class="my-center details my-row" style="background-color: rgba(255,255,255,0.6);">
    <div class="my-quarter my-animate-fading">
        <p>14</p>
        <br><span>Articles</span>
    </div>
    <div class="my-quarter my-animate-fading">
        <p>89</p>
        <br><span>Categories</span>
    </div>
    <div class="my-quarter my-animate-fading">
        <p>46</p>
        <br><span>Users</span>
    </div>
    <div class="my-quarter my-animate-fading">
        <p>N/A</p>
        <br><span>future reference</span>
    </div>
</div>
<div class="back2">
    <div class="my-center my-padding-32">
        <p class="myhead">Notion</p>
    </div>
    <div class="my-row">
        <div class="my-third aboutus">
            <div class="backface">
                <p class="heads myDemo"><a routerLink="/upload" routerLinkActive="active" >Generate Articles</a>
                <p><br><br>
                <p class="info">Here you can Upload Articles to Anyone Anytime Anywhere.</p>
            </div>
            <div class="frontface">
                <p class="heads"><i class="fa fa-newspaper-o"></i>
                    <span class="badge badge-primary"><i class="fa fa-cloud-upload fa-2x"></i></span> 
                <p><br><br>
            </div>
        </div>
        <div class="my-third aboutus">
            <div class="backface">
                <p class="heads myDemo"><a routerLink="/activity" routerLinkActive="active" >Improve Knowledge</a>
                <p><br><br>
                <p class="info">Here you can Read Articles Anytime Anywhere.</p>
            </div>
            <div class="frontface">
                <p class="heads"><i class="fa fa-book"></i>
                <p><br><br>
            </div>
        </div>
        <div class="my-third aboutus">
            <div class="backface">
                <p class="heads myDemo"><a routerLink="/update" routerLinkActive="active" >Edit Articles</a>
                <p><br><br>
                <p class="info">Here you can Update Articles Anytime Anywhere.</p>
            </div>
            <div class="frontface">
                <p class="heads"><i class="fa fa-edit"></i>
                <p><br><br>
            </div>
        </div>
    </div>
    <br><br><br><br>
</div>
<div class="my-padding-32 my-center">
    <p class="myhead my-text-black">Get in touch with Us</p>
    <br>
    <div class="social">
        <div class="my-quarter">
            <img src="assets/images/fb.png"><br>
            <p>Facebook</p>
        </div>
        <div class="my-quarter">
            <img src="assets/images/insta.jpg"><br>
            <p>Instagram
        </div>
        <div class="my-quarter">
            <img src="assets/images/lnkd.png"><br>
            <p>Linkedin</p>
        </div>
        <div class="my-quarter">
            <img src="assets/images/tw.png"><br>
            <p>Twitter</p>
        </div>
    </div>
</div>
